body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  color: white; }

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase; }

h2 {
  font-family: AleoRegular;
  font-size: 36px;
  font-weight: 400;
  line-height: 1; }

h3 {
  color: #fefefe;
  font-family: JosefinSans;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.buttons {
  width: 225px;
  height: 60px;
  background: #1e5799;
  background: -moz-linear-gradient(45deg, #496bfe 0%, #496bfe 80px, #5474fd 80px, #5474fd 100%);
  background: -webkit-linear-gradient(45deg, #496bfe 0%, #496bfe 80px, #5474fd 80px, #5474fd 100%);
  background: linear-gradient(45deg, #496bfe 0%, #496bfe 80px, #5474fd 80px, #5474fd 100%);
  display: block;
  color: white;
  font-family: AleoRegular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  box-sizing: border-box; }
  .buttons:hover {
    background: #1e5799;
    background: -moz-linear-gradient(45deg, #274ef6 0%, #274ef6 80px, #7c94fb 80px, #7c94fb 100%);
    background: -webkit-linear-gradient(45deg, #274ef6 0%, #274ef6 80px, #7c94fb 80px, #7c94fb 100%);
    background: linear-gradient(45deg, #274ef6 0%, #274ef6 80px, #7c94fb 80px, #7c94fb 100%); }

.header {
  width: 100%;
  height: 100vh;
  min-height: 820px;
  background-image: url("../img/HeaderBgi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: 26px; }
  .header .header_container {
    width: 1110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; }
    .header .header_container .header_textbox {
      margin: 265px 0 50px;
      display: block;
      text-align: center; }
      .header .header_container .header_textbox .header_span__wide {
        font-size: 22px;
        margin-top: 5px;
        display: block;
        letter-spacing: 0.31em; }
    .header .header_container .header_scrollbox {
      margin-top: 120px;
      display: block;
      text-align: center;
      margin: 120px 0 135px; }
      .header .header_container .header_scrollbox span {
        display: block;
        font-size: 14px; }

.search-form {
  width: 650px;
  height: 60px;
  display: block;
  background: #fff;
  border: 2px solid #fff;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; }
  .search-form .search-form_input {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 496px;
    text-align: center;
    padding: 20px 0;
    color: #999;
    letter-spacing: 0.2em; }
  .search-form .search-form_button {
    width: 150px;
    height: 56px;
    border: none;
    background-color: #5474fd;
    float: right;
    color: white;
    font-family: AleoRegular;
    text-transform: uppercase;
    background-image: url("../img/SearchLoop.png");
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 0 50px 0 0;
    background-position: 113px 20px; }
    .search-form .search-form_button:hover {
      background-color: #7292ff;
      cursor: pointer; }

.ChooseUs {
  height: 685px;
  background-image: url("../img/ChousUsBgi_1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .ChooseUs .ChooseUs_container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    color: #e8e8e8;
    font-family: Josefin Sans;
    font-size: 16px; }
    .ChooseUs .ChooseUs_container .ChooseUs_leftColoumn,
    .ChooseUs .ChooseUs_container .ChooseUs_rightColoumn {
      width: 540px; }
    .ChooseUs .ChooseUs_container .ChooseUs_leftColoumn {
      margin-top: 200px; }
      .ChooseUs .ChooseUs_container .ChooseUs_leftColoumn .ChooseUs_textBox {
        margin: 60px 0 45px; }
        .ChooseUs .ChooseUs_container .ChooseUs_leftColoumn .ChooseUs_textBox span {
          margin-bottom: 25px;
          display: block; }
          .ChooseUs .ChooseUs_container .ChooseUs_leftColoumn .ChooseUs_textBox span:last-child {
            margin: 0; }
    .ChooseUs .ChooseUs_container .ChooseUs_rightColoumn .ChooseUs_ImgBox__top,
    .ChooseUs .ChooseUs_container .ChooseUs_rightColoumn .ChooseUs_ImgBox__bottom {
      width: 350px;
      height: 220px; }
    .ChooseUs .ChooseUs_container .ChooseUs_rightColoumn .ChooseUs_ImgBox__top {
      margin: 120px 125px 0 65px; }
    .ChooseUs .ChooseUs_container .ChooseUs_rightColoumn .ChooseUs_ImgBox__bottom {
      margin: 5px 0 0 190px; }

.wrapper {
  width: 30px; }

.HowItWork {
  background: #333333;
  height: 337px;
  width: 100%; }
  .HowItWork .HowItWork_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1110px;
    background-image: url("../img/HowtoWorkLines.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 160px 30px; }
    .HowItWork .HowItWork_container .HowItWork_boxContent {
      margin: 100px 65px 0; }
      .HowItWork .HowItWork_container .HowItWork_boxContent img {
        display: block;
        width: auto;
        margin-left: 70px;
        background-color: #333; }
      .HowItWork .HowItWork_container .HowItWork_boxContent span {
        font-size: 36px;
        font-family: AleoRegular;
        display: block;
        margin-top: 15px; }

.BookNow_row {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover; }
  .BookNow_row .BookNow_container {
    width: 1110px;
    margin: 0 auto; }
    .BookNow_row .BookNow_container .BookNow_contentBox {
      width: 540px;
      height: 370px;
      opacity: 0.9;
      background-color: #232323;
      display: block;
      margin-top: 230px;
      padding: 50px 30px;
      box-sizing: border-box; }
      .BookNow_row .BookNow_container .BookNow_contentBox span {
        display: block;
        margin-bottom: 20px; }
      .BookNow_row .BookNow_container .BookNow_contentBox .BookNow_SpanCountry {
        color: #e8e8e8;
        font-size: 20px; }
      .BookNow_row .BookNow_container .BookNow_contentBox .BookNow_SpanTitle {
        color: #fefefe;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 0.075px; }
      .BookNow_row .BookNow_container .BookNow_contentBox .BookNow_SpanContent {
        color: #e8e8e8;
        font-size: 16px;
        margin: 0; }
      .BookNow_row .BookNow_container .BookNow_contentBox .BookNow_layout {
        max-height: 60px;
        width: 100%;
        min-height: 45px; }

.BookNow_row__first {
  background-image: url("../img/BookNowBgi_2.jpg"); }
  .BookNow_row__first .BookNow_contentBox {
    float: left; }

.BookNow_row__secondary {
  background-image: url("../img/BookNowBgi_1.jpg"); }
  .BookNow_row__secondary .BookNow_contentBox {
    float: right; }

.Commit {
  height: 731px;
  background-image: url("../img/CommitBgi.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .Commit .Commit_contaier {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .Commit .Commit_contaier .Commit_title {
      text-align: center;
      margin: 115px 0 95px; }
    .Commit .Commit_contaier .Commit_BoxContent {
      width: 100%;
      height: 284px;
      background-color: #333; }
      .Commit .Commit_contaier .Commit_BoxContent img {
        float: left;
        width: 445px;
        height: 284px; }
      .Commit .Commit_contaier .Commit_BoxContent .Commit_contentBox {
        width: 570px;
        float: right;
        margin: 50px 40px 0 0; }
        .Commit .Commit_contaier .Commit_BoxContent .Commit_contentBox i {
          color: #5474fd;
          font-size: 36px; }
        .Commit .Commit_contaier .Commit_BoxContent .Commit_contentBox span {
          color: #e8e8e8;
          font-family: AleoRegular;
          font-size: 16px;
          margin-top: 25px;
          display: block; }

.footer {
  height: 268px;
  background-color: #232323; }
  .footer .footer_Container {
    width: 1110px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .footer .footer_Container a {
      margin-right: 20px;
      color: #e8e8e8;
      font-size: 16px; }
      .footer .footer_Container a:last-child {
        margin: 0; }
    .footer .footer_Container .footer_textBox {
      color: white;
      font-family: Josefin Sans;
      margin-top: 115px; }
      .footer .footer_Container .footer_textBox span {
        display: block;
        margin-bottom: 20px;
        font-size: 16px; }
      .footer .footer_Container .footer_textBox .footer_tittle {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        margin: 0; }

.navbar {
  height: 80px;
  width: 100%;
  background-color: #5474fd;
  position: sticky;
  top: 0;
  z-index: 10000; }
  .navbar .navbar_contaier {
    width: 1110px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: AleoRegular;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase; }
    .navbar .navbar_contaier span {
      font-size: 24px;
      font-weight: 700;
      font-family: Josefin Sans; }
    .navbar .navbar_contaier ul {
      font-size: 14px;
      list-style-type: none; }
      .navbar .navbar_contaier ul li {
        display: inline-block;
        margin-left: 43px; }
        .navbar .navbar_contaier ul li:hover {
          text-decoration: underline;
          cursor: pointer; }
        .navbar .navbar_contaier ul li a {
          color: #fff;
          text-decoration: none; }

/*# sourceMappingURL=main.css.map */
