doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Bhromaon
        meta(name='description', content='Safe travel more')
        link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css')
        link(rel='stylesheet', href='style/fonts.css')
        link(rel='stylesheet', href='libs/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', href='style/main.css')
    body
        include bem/header/header.pug
        include bem/navbar/navbar.pug
        include bem/ChooseUs/ChooseUs.pug
        include bem/HowItWorks/HowItWorks.pug
        include bem/BookNow/BookNow.pug
        include bem/Commit/Commit.pug
        include bem/footer/footer.pug
