mixin commit()
    section.commit.layout
        .commit_container.layout_container
            .commit_title
                h2.h2 What Our  Tourist Say
            .commit_content
                .commit_coloumn
                    img(class="commit_img", src="img/Commit_img.jpg", alt="sport-man")
                .commit_coloumn_left
                    .commit_title__author
                        h4.h4__uppercase Sam Sumon
                    p.commit_text.general-text-style
                        span.commit_text_icon
                            i.fa.fa-quote-left(aria-hidden='true') 
                        |   But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system
