nav.navbar
    .navbar_contaier
        span Bhromaon
        ul
            li
                a(href='#WhoWeAre') Who We Are
            li
                a(href='#WhatWeDo') What We Do
            li
                a(href='#TravelWithUs') Travel With Us
            li
                a(href='#ContactUs') Contact Us