mixin footer()
    footer.footer.layout
        .footer_container
            .footer_content
                .footer_title
                    h3.h3__uppercase Bhromaon
                p.second_title Safe Travel Anywhere
                .footer_soc-Box
                    a(href='#' class="footer_soc-button" hover='true')
                        i.fa.fa-facebook(aria-hidden='true')
                    a(href='#' class="footer_soc-button")
                        i.fa.fa-twitter(aria-hidden='true')
                    a(href='#' class="footer_soc-button")
                        i.fa.fa-linkedin(aria-hidden='true')
                    a(href='#' class="footer_soc-button")
                        i.fa.fa-youtube-play(aria-hidden='true')
                    a(href='#' class="footer_soc-button")
                        i.fa.fa-pinterest(aria-hidden='true')