section#TravelWithUs.BookNow
    .BookNow_row.BookNow_row__first
        .BookNow_container
            .BookNow_contentBox
                span.BookNow_SpanCountry Spain
                h3.BookNow_SpanTitle Grand Spain Madrid
                span.BookNow_SpanContent
                    | But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
                .BookNow_layout
                a.buttons(href='#') Book Now
    .BookNow_row.BookNow_row__secondary
        .BookNow_container
            .BookNow_contentBox
                span.BookNow_SpanCountry Spain
                span.BookNow_SpanTitle Grand Spain Madrid
                span.BookNow_SpanContent
                    | But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
                .BookNow_layout
                a.buttons(href='#') Book Now