section#WhoWeAre.ChooseUs
    .ChooseUs_container
        .ChooseUs_leftColoumn
            h2 Why Choose Us
            .ChooseUs_textBox
                span
                    | Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                span
                    | Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
            a.buttons(href='#') Explore Places
        .wrapper
        .ChooseUs_rightColoumn
            .ChooseUs_ImgBox
                img(src='img/ChousUs_sticker_2.jpg', alt='Beatifull house')
            .ChooseUs_ImgBox__bottom
                img(src='img/ChousUs_sticker_1.jpg', alt='beatifull place')