section.Commit
    .Commit_contaier
        .Commit_title
            h2 What Our  Tourist Say
        .Commit_BoxContent
            img(src='img/Commit_img.jpg', alt='Sportsman')
            .Commit_contentBox
                h3 Sam Sumon
                span
                    i.fa.fa-quote-left(aria-hidden='true')
                    |  But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken
                    |             idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born
                    |           and I account will give you a nai the complete account of the system