header.header
    .header_container
        .header_textbox
            h1 bhromaon
            span.header_span__wide Safe Travel Anywhere
        form.search-form
            input.search-form_input(type='search', name='searchtext', placeholder='Search Your Travel Destination', minlength='3', pattern='\D [^0-9]')
            input.search-form_button(type='submit', value='search')
        .header_scrollbox
            span Scroll Down
            i.fa.fa-angle-down(aria-hidden='true')