footer#ContactUs.footer
    .footer_Container
        .footer_text-Box
            span.footer_tittle Bhromaon
            span Safe Travel Anywhere
        .footer_soc-Box
            a(href='#' class="footer_soc-button" hover='true')
                i.fa.fa-facebook(aria-hidden='true')
            a(href='#' class="footer_soc-button")
                i.fa.fa-twitter(aria-hidden='true')
            a(href='#' class="footer_soc-button")
                i.fa.fa-linkedin(aria-hidden='true')
            a(href='#' class="footer_soc-button")
                i.fa.fa-youtube-play(aria-hidden='true')
            a(href='#' class="footer_soc-button")
                i.fa.fa-pinterest(aria-hidden='true')
                    