footer#ContactUs.footer
    .footer_Container
        .footer_textBox
            span.footer_tittle Bhromaon
            span Safe Travel Anywhere
        .footer_socBox
            a(href='#')
                i.fa.fa-facebook(aria-hidden='true')
            a(href='#')
                i.fa.fa-twitter(aria-hidden='true')
            a(href='#')
                i.fa.fa-linkedin(aria-hidden='true')
            a(href='#')
                i.fa.fa-youtube-play(aria-hidden='true')
            a(href='#')
                i.fa.fa-pinterest(aria-hidden='true')