section#WhatWeDo.HowItWork
    .HowItWork_container
        .HowItWork_leftColoumn
            .HowItWork_boxContent
                img(src='img/Loop.png', alt='Loop')
                span Search Places
        .HowItWork_middleColoumn
            .HowItWork_boxContent
                img(src='img/Choose.png', alt='Choose')
                span Select Places
        .HowItWork_rightColoumn
            .HowItWork_boxContent
                img(src='img/Nice.png', alt='Like')
                span Book & Enjoy